2 Oct 2024/Martino Bardi, Italo Capuzzo-Dolcetta - Optimal Control and Viscosity Solutions of Hamilton-Jacobi-Bellman Equations (Modern Birkhäuser Classics) (2008).pdf
weekly-meeting/12 November 2024/simulation_results.csv
